

<div class="row row-no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header">
            <h4 class="center m-0">Get your FREE quote here!</h4>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("QuoteGenerator", "Home", FormMethod.Post))
            {
                <div class="row">
                    <div class="form-group col-md-5">
                        <h6>*First Name: </h6>
                        <input name="FirstName" type="text" class="form-control" />
                        <h6>*Last Name: </h6>
                        <input name="LastName" type="text" class="form-control" />
                        <h6>*Email: </h6>
                        <input name="EmailAddress" type="email" class="form-control" />
                        <h6>*Date of Bith:</h6>
                        <input name="DOB" type="date" class="form-control" />
                        <h6>*Car Year: </h6>
                        <input name="CarYear" type="number" min="1950" max="2021" class="form-control" />
                        <h6>*Car Make: </h6>
                        <input name="CarMake" type="text" class="form-control" />
                        <h6>*Car Model: </h6>
                        <input name="CarModel" type="text" class="form-control" />
                        
                        <h6>*How many tickets have you recieved? </h6>
                        <input name="tickets" type="number" min ="0" class="form-control" />
                        
                        <h6>*Have you ever had a DUI? </h6>
                        <input type="radio" name="DUI" id="Yes" value="1">Yes
                        <input type="radio" name="DUI" id="No" value="0">No

                        <h6>*Would they like full coverage or liability?</h6>
                        <input type="radio" name="Insurance" id="FullCoverage" value="0">Full Coverage
                        <input type="radio" name="Insurance" id="Liability" value="1">Liability
                        <br>
                        <br>
                        <button type="submit" class="btn btn-block btn-primary">Submit</button>
                    </div>
                </div>
            }  
        </div>
    </div>
</div>