@using QuoteGenerator.Models
@model List<quote>
@{
    ViewData["Title"] = "Admin";
}

    <div class="card ">
        <div class="card-header">
            <h4 class="center m-0">Administration Page</h4>
        </div>
        <div class="card-body">
            @foreach (var quote in Model)
            {
                <div class="row">
                    <div class="col-md-1">
                        <h6>First Name: </h6>
                        @quote.FirstName
                    </div>
                    <div class="col-md-2">
                        <h6>Last Name: </h6>
                        @quote.LasttName
                    </div>
                    <div class="col-md-3">
                        <h6>Email: </h6>
                        @quote.EmailAddress
                    </div>
                    <div class="col-md-4">
                        <h6>Quote: </h6>
                        @quote.Quote
                    </div>
                </div>
            }
        </div>
    </div>


